{% load static %}
<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="A group guessing game" />
  <meta name="author" content="Leif Kjos" />
  <head>
    <title>{% if title %}{{title}}{% else %}Daily Groove{% endif %}</title>
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/fa/css/all.min.css' %}" />
    <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    {% block extra_style %}{% endblock %}
    <link href="{% static 'css/navbar-top.css' %}" rel="stylesheet">

  </head>
  
  <body {% block bodyattrs %}{% endblock %}>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Daily Groove</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            {% if request.user.is_authenticated %}<a class="nav-link" href="{% url 'uploads' %}">Uploads <span class="sr-only">(current)</span></a>{% endif %}
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            {% if not request.user.is_authenticated %}<a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>{% else %}
            <a class="nav-link" href="{% url 'login' %}">{{ request.user.username }} <span class="sr-only">(current)</span></a>{% endif %}
          </li>
        </ul>
      </div>
    </nav>
      <main role="main" class="inner cover pt-4">
        {% block content %}{% endblock content %}
      </main>
    </div>
  </body>
</html>
