{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load core_tags %}
{% block title %}Login{% endblock %}
{% block extra_style %}<link href="{% static 'css/login.css' %}" rel="stylesheet">{% endblock %}
{% block main_classes %}d-flex align-items-center bg-body-tertiary h-100{% endblock %}
{% block page_content %}
    <!-- Login Form -->
    <div class="form-signin d-flex w-100 m-auto align-items-center justify-content-center vh-100">
    <form class="form-signin mb-4" action="{% url 'login' %}" method="post">
        {% if form.errors %}
            <div class="alert alert-formContent">
                <p><strong>{% trans "Oh snap!" %}</strong> {% trans "Please enter a correct username and password. Note that both fields are case-sensitive." %}</p>
            </div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
        {% csrf_token %}
        <div class="form-floating">
            <input type="email" name="username" class="form-control" placeholder="name@example.com" autofocus autocapitalize="none" autocomplete="email" maxlength="254" required id="id_username">
            <label for="id_username">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" autocomplete="current-password" placeholder="Password" class="form-control" required id="id_password">
            <label for="id_password">Password</label>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input value="remember-me" type="checkbox"> Remember me
            </label>
        </div>
        <p><a class="underlineHover" href="{% url 'password_reset' %}">Forgot Password?</a><br></p>
        <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">Sign in</button>
        <p>Need any account? <a class="underlineHover" href="{% url 'signup' %}{% param_replace %}">Sign Up</a></p>
        <input type="hidden" name="initial-password" id="initial-id_password">
        {% comment %} <div id="formFooter">
        </div> {% endcomment %}
    </form>
</div>
    
    <!-- Remind Passowrd -->
        
{% endblock %}