{% extends "base.html" %} {% block extra_style %}
{% load static %}
{% load crispy_forms_tags %}

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %} 
{% block content %}
<div class="container-fluid">
    <i class="fa-solid fa-music"></i>
    <form class="form-signin" method="post">
    {% csrf_token %%}
    {{ form|crispy }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign in
    </button>
  </form>
</div>
{% endblock %}
