{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Set Password{% endblock %}
{% block extra_style %}<link href="{% static 'css/login.css' %}" rel="stylesheet">{% endblock %}
{% block page_content %}
<div class="wrapper fadeInDown">
    <div id="formContent"></div>
        {% if form.errors %}
                <div class="alert alert-danger">
                <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
            </div>
        {% endif %}
        <div>
        <form action="" method="post" class="form-horizontal">{% csrf_token %}
                <H1>{% trans 'Password change' %}</H1>
                <div class="form-group">
                    <div class="col-sm-offset-2 text-info">
                        {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
                    </div>

                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-10 ">
                            {{ field }}
                            {% if field.errors %}
                                <span class='text-danger'>{{ field.errors|join:'<br />' }}</span>
                            {% endif %}
                            {% if field.help_text %}
                                <span class="help-block ">{{ field.help_text }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                    <div class="col-sm-offset-2 ">
                    <button type="submit" class="btn btn-default">{% trans 'Change my password' %}</button>
                    &nbsp;<button type="reset" class="btn">{% trans 'Cancel' %}</button>
                    </div>
                </div>
        </form>
        </div>
    </div>
</div>


{% endblock %}