{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Password Reset Form{% endblock %}
{% block extra_style %}<link href="{% static 'css/login.css' %}" rel="stylesheet">{% endblock %}
{% block page_content %}
<div class="wrapper fadeInDown">
    <div id="formContent"></div>
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
            </div>
        {% endif %}
        <form action="" method="post" class="form-horizontal">{% csrf_token %}
            <h1>{% trans "Password reset" %}</h1>
                <div class="form-group">
                    <div class="col-sm-offset-2 text-info">
                        {% trans "Please enter your email address." %}
                    </div>
                {% for field in form %}
                    {{ field }}
                    {% if field.errors %}
                        <span class='text-danger'>{{ field.errors|join:'<br />' }}</span>
                    {% endif %}
                    {% if field.help_text %}
                        <span class="help-block ">{{ field.help_text }}</span>
                    {% endif %}
                {% endfor %}
                    <div class="col-sm-offset-2 ">
                        <button id='submit' class="btn primary" type="submit" data-loading-text="{% trans 'loading' %}..." accesskey="Enter">{% trans 'Reset my password' %}</button>
                    </div>
                </div>
           
        </form>
    </div>
</div>
{% endblock %}