{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Password Reset{% endblock %}
{% block extra_style %}<link href="{% static 'css/login.css' %}" rel="stylesheet">{% endblock %}
{% block page_content %}
<div class="wrapper fadeInDown">
    <div id="formContent" class=" mt-5">
    {% if validlink %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
                
            </div>
        {% endif %}
        <form action="" method="post">{% csrf_token %}
            <fieldset>
                <br>
                <h1>{% trans 'Set a new Password' %}</h1>

                    <div class="input">
                        {% trans "Please enter your new password twice:" %}
                    </div>

                {% for field in form %}
                    <div class="input-group {% if field.errors %}has-error{% endif %}">
                        <div class="container">
                            {{ field }}</div>
                            {% if field.errors %}
                            <div class="container mt-3"><span class='text-danger'>{{ field.errors|join:'<br />' }}</span></div>
                            {% endif %}
                            {% if field.help_text %}
                            <div class="container mt-3"><small><span class="help-block ">{{ field.help_text }}</span></small></div>
                            {% endif %}

                    </div>
                {% endfor %}
                <div class="actions">
                    <input type="submit" class="btn primary" value="{% trans 'Change my password' %}">
                </div>
            </fieldset>

        </form>
    {% else %}
        <h3>{% trans 'Password reset unsuccessful' %}</h3>
        <p>
            {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
        </p>
    {% endif %}
    </div>
</div>

{% endblock %}