{% extends 'base.html' %}

{% block bodyattrs %}
  class="text-center"
{% endblock %}

{% block page_content %}
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Welcome to Daily Groove</h1>
    <p class="lead">Daily Groove is a guessing game you play with your friends. A great way to start your daily stand-up meeting off. We are currently limited to beta users only. Contact the site owner to get your account!</p>
  </div>
  {% if request.user.is_authenticated %}
    <h2>Active Games</h2>
    {% if active_games %}
      <ul class="list-group">
        {% for game in active_games %}
          <a class="list-group-item list-group-item-action" href="{{ game.get_absolute_url }}">{{ game.name }}</a>
        {% endfor %}
      </ul>
    {% else %}
      <p>You are not a member of any games!</p>
    {% endif %}
  {% endif %}
{% endblock %}
