{% extends 'base.html' %}
{% load static %}
{% block extra_style %}
{% load crispy_forms_tags %}
{% load core_tags %}
<link rel="stylesheet" href="{% static 'css/positioning.css' %}" />
{% endblock %}
{% block page_content %}
<div class="container position-parent">
    <h1>{{ object.name }}</h1>
    {% if moderator %}<a class="btn btn-secondary top-right" href="{% url 'manage_game' slug=object.slug %}">Manage</a>{% endif %}
    <div class="row">
      <div class="col-md">
        <div class="card mt-4">
          <div class="card-header">Current Round</div>
          <div class="card-body">
            {% if current_round.submission.title %}<p class="lead">{{current_round.submission.title}}</p>{% endif %}
            {{ current_round.submission.url|youtube_embed_url:current_round.submission.title|safe }}
            {% if current_round.submission.url %}<a target="_blank" href="{{current_round.submission.url}}">{{current_round.submission.url}}</a>{% endif %}
            {% if current_round.round_ends_at %}<p>Round Ends at: {{current_round.round_ends_at|date }}</p>{% endif %}
            {% if moderator %}
                {% if submitted_by %}<p>Submitted by: {{submitted_by}}</p>{% endif %}
                {% if form %}{% crispy form %}{% endif %}
            {% endif %}
            {% if current_round.winner %}
              <p>Winner: {{current_round.winner}}</p>
              {% if current_round.next_round_at %}<p>Next round begins at: {{ current_round.next_round_at|date }}{% endif %}
            {% endif %}
          </div>
        </div>

      </div>
      <div class="col-md">
        <div class="card mt-4">
          <div class="card-header">Current Players</div>
          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Player</th>
                  <th>Submissions</th>
                  <th>Most Recent</th>
                </tr>
              </thead>
              <tbody>
                {% for player in players %}
                  <tr>
                    <th scope="row">{{ player.player_name }}</th>
                    <td>{{ player.submission_count }}</td>
                    <td>{{ player.most_recent_submission|date }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% if wall_of_shame %}
            <h6>Wall of Shame (players with no submissions left)</h6>
            <p>{{ wall_of_shame|join:", " }}</p>
            {% endif %}
          </div>
        </div>
      </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="card my-4 mx-5">
          <div class="card-header">Leaderboard</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Player</th>
                  <th>Wins</th>
                  <th>Most Recent</th>
                </tr>
              </thead>
              <tbody>
                {% for player in leader_board %}
                  <tr>
                    <th scope="row">{{ player.player_name }}</th>
                    <td>{{ player.win_count }}</td>
                    <td>{{ player.most_recent_win|date }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="card my-4 mx-5">
          <div class="card-header">Round History</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Url</th>
                  <th>Winner</th>
                  <th>Submitted by</th>
                </tr>
              </thead>
              <tbody>
                {% for round in rounds %}
                  <tr>
                    <th scope="row">{{ round.round_number }} - {{ round.datetime|date:'N j, y' }}</th>
                    <td>
                      <a href="{{ round.url }}">
                        {% if round.title %}
                          {{ round.title }}
                        {% else %}
                          {{ round.url }}
                        {% endif %}
                      </a>
                    </td>
                    <td>{{ round.winner_name }}</td>
                    <td>{{ round.submitted_by }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
