{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/positioning.css' %}" />
<link href="{% static 'font/bootstrap-icons.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div class="container">
  <div class="row"><div class="container mb-6">
      <a class="btn btn-secondary" href="{% url 'player_invite' slug=game.slug %}">Invite Player</a>
  </div></div>
  <div class="row">
  <div class="col-md">
    {% include 'crispy-form-card.html' with form_title="Update Game Details" %}
  </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="card mt-4">
        <div class="card-header">Players</div>
        <div class="card-body">
          <div class="container justify-content-center">
            <table class="table table-sm mt-5">
              <thead>
                <tr>
                  <th>Player</th>
                  <th>Linked to User</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for object in object_list %}
                  <tr>
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="player_id" value="{{object.id}}">
                      <th scope="row">{{ object.player_name }}</th>
                      <td>{{ object.has_user }}</td>
                      <td><button class="btn" data-bs-toggle="tooltip" data-bs-title="Remove Player" data-bs-placement="right"><i class="bi bi-x-circle text-danger"></i></button></td>
                    </form>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
