{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_content %}
  <div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-4">My Uploads</h1>
    </div>

    <div class="container md-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Upload</h5>
          <p class="card-text">Submit your groove</p>
          {% crispy form %}
        </div>
      </div>
    </div>
    <h2>Uploads</h2>
    <form method="post">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Url</th>
            <th>Fresh</th>
            <th>Uploaded</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <th scope="row">{{ object.title }}</th>
              <td>
                <a href="{{ object.url }}">{{ object.url }}</a>
              </td>
              <td>{{ object.fresh }}</td>
              <td>{{ object.datetime }}</td>
              <td>
                <i class="fa-solid fa-trash"></i>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>
{% endblock %}
